#container {
    height: 100%;
    padding-left: 4vw;
    color: white;
}


#descricao {
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


#images {
    padding: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
}

.code {
    margin-top: 4vh;
    background-color: white;
    color: black;
    padding: 1vh 2vh;
    font-style: none;
    text-decoration: none;
}

.phone {
    width: 50%;
}

.logo {
    height: 8vh;
}

.text {
    margin-top: 2vh;
    text-align: center;
}

.ferramentas {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 4vh;
}

.low_opacity {
    opacity: 0.3;
}

@media only screen and (max-width: 760px) {

    #container {
        display: block;
        padding: 5vh 5vh;
        height: 100%;
    }

    #descricao {
        width: auto;
        max-height: 50%;
        padding-top: 0px;
        padding-bottom: 5vh;
    }

    #images {
        width: auto;
        height: 50%;
        padding: 0px;
        justify-content: center;
    }

    .phone {
        height: 100%;
        width: auto;
    }

    .ferramentas {
        margin-top: 2vw;
        margin-bottom: 2vw;
        height: 6vw;
    }

    .logo {
        height: 10vw;
    }

    .code {
        margin-top: 4vw;
        padding: 1vw 2vw;
        text-decoration: none;
    }

}

@media screen and (max-width: 470px) {

    #images {
        width: auto;
        height: 50%;
        padding: 0px;
        justify-content: center;
    }    

    .phone {
        width: 50%;
        height: auto;
    }
}

