#background {
    background-image: url("../../images/mountain.png");
    background-size: 70vw;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-color: #1D1D1D;

}

.text {
    text-align: center;
    color: white;
}

.container {
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}