nav {
    z-index: 99;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;

}
  
nav > ul {
    top: 0;
    left: 0;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    float: right!important;
    margin-right: 5vw;
    list-style: none; 
    display: table;
    text-align: center;
    height: 6vh;
}
  
nav > ul > li {
    top: 0;
    right: 0px;
    width: 100px;
    display: table-cell; 
    position: relative; 
    padding: 15px 0;

}
  
nav > ul > li > a {
    font-size: 2vh;
    color: white;
    vertical-align: middle;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

nav > ul > li > a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

nav > ul > li > a:hover:after { 
    width: 100%; 
    left: 0; 
  }
