#logo {
    height: 4vw;
    cursor: pointer;
}

nav {
    background-color: #181818;
    width: 9%;
    height: 100%;
    padding: 2vw 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#links_bar {
    flex-direction: column-reverse;
    align-items: center;
    background-color: #181818;
    height: auto;
}

.links {
    height: 2vw;
    width: 2vw;
    opacity: 0.2;
    margin: 2vh 0px;
    cursor: pointer;
}

#icon_bar {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
}

.icon {
    opacity: 0.2;
    width: 3vw;
    height: auto;
    margin: 2vh 0px;
    cursor: pointer;
}

.icon-container {
    width: 3vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.icon-name {
    justify-content: center;
    align-content: center;
    color: white;
    background-color:transparent;
    opacity: 0.5;
}

.icon-no-name {
    opacity: 0.2;
    width: 3vw;
    height: auto;
    margin: 2vh 0px;
    cursor: pointer;
}

@media only screen and (max-width: 760px) {

    nav {
        height: 9%;
        width: 100%;
        flex-direction: row;
    }

    #links_bar {
        flex-direction: row-reverse;
        align-items: center;
        background-color: #181818;
        width: auto;
    }
    
    .links {
        height: 2vh;
        width: 2vh;
        opacity: 0.2;
        margin: 0px 1vh;
        cursor: pointer;
    }
    
    #icon_bar {
        background-color: #181818;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;  
    }
    
    .icon {
        opacity: 0.2;
        width: 3vh;
        height: auto;
        margin: 0px 2vh;
        cursor: pointer;
    }

    .icon-container {
        width: 4vh;
        height: auto;
        margin: 0px 2vh;
    }

    #logo {
        height: 4vh;
    }

    .logo-container {
        justify-content: center;
        margin: 0px 2vh;
    }

    .icon-name {
        display: none;
    }
}

